/*
0000000     0000000   00000000   000   000  
000   000  000   000  000   000  000  000   
000   000  000000000  0000000    0000000    
000   000  000   000  000   000  000  000   
0000000    000   000  000   000  000   000  
*/
#main {
  background: #000;
}
.term {
  border-color: #111;
}
.tabs {
  background: #111;
}
.tab .dot {
  color: #444;
}
.tab .dot.focus {
  color: #060;
}
.tab .dot:hover {
  color: #f80;
}
.tab {
  background: #111;
}
.tab.active {
  background: #222;
}
#minimap {
  background: #000;
  border-left-color: #111;
}
.topbot {
  background-color: #111;
}
.scroller.long {
  color: #2f2f2f;
}
.scrollbar.long {
  color: #3c3c3c;
}
.scroller.short {
  color: #7f7fff;
}
.scrollbar.short {
  color: #a0a0ff;
}
.scrollhandle {
  background: #88f;
}
#titlebar {
  background: #111;
}
.titlebar-name {
  color: textActiveColor;
}
.titlebar-version {
  color: scrollColor;
}
.titlebar-dot {
  color: #222;
}
#titlebar .winbutton:active {
  background-color: titleRedColor;
}
#titlebar .winbutton:active.gray {
  background-color: #222;
}
#titlebar .winbutton svg {
  stroke-width: 1px;
  stroke: #444;
}
#titlebar .winbutton:active svg {
  stroke: #fff;
}
#titlebar .winbutton:hover svg {
  stroke: #fff;
}
.tooltip {
  color: #aaa;
  background: #111;
}
#cursor {
  background: #ff0;
}
.sizer-handle:active {
  border-right: 1px solid #111;
}
::selection {
  background: #aaa;
}
.text {
  color: #fff;
}
.num {
  color: #111;
}
.time {
  color: #444;
}
.icon {
  color: #888;
}
.id {
  color: #aaf;
}
.file {
  color: #aaf;
}
.find {
  color: #ddd;
}
.src .ln {
  color: #88f;
}
.src .col {
  color: #44f;
}
.name {
  color: #f80;
}
.log {
  color: textFocus;
}
.sep {
  color: #88f;
}
.line.main .id,
.line.main .file,
.line.main .sep {
  color: #c04;
}
.line.find,
.line.empty {
  background: #000;
}
.term div span .highlight-search {
  background: #800;
  border-radius: 4px;
  color: #ff0;
}
.term div span .highlight-find {
  text-decoration: underline;
}
/*
00000000  000  000      00000000   0000000
000       000  000      000       000
000000    000  000      0000000   0000000
000       000  000      000            000
000       000  0000000  00000000  0000000
*/
.cc,
.cpp,
.coffee {
  color: #ff0;
}
.h,
.hpp,
.py,
.noon {
  color: #f80;
}
.md,
.txt {
  color: #0a0;
}
.url {
  color: #808;
}
.url.domain {
  color: #f0f;
}
.url.tld {
  color: #a0a;
}
.mail {
  color: #f8f;
}
.mail.domain {
  color: #c0c;
}
.png,
.gif,
.jpg,
.bmp,
.tiff,
.image {
  color: #080;
}
.ico,
.icns,
.pic {
  color: #0a0;
}
.pug,
.styl {
  color: #0af;
}
.js,
.css,
.json,
.html {
  color: #b4a;
}
.sh {
  color: #f00;
}
.ext {
  opacity: 0.5;
}
.linepos {
  color: #66a;
}
.lock,
.dotfile {
  color: #666;
}
.dir .dotfile {
  color: #88e;
}
.dir {
  color: #88f;
}
.dir.punct {
  opacity: 0.3;
}
.tab {
  color: #aaf;
}
.tab .path:not(.sep):not(:last-child):hover {
  color: #fff;
  opacity: 1;
}
.tab .path {
  opacity: 0.5;
}
.tab .path.top {
  opacity: 1;
}
.tab .path.sep {
  opacity: 0.2;
  padding: 0.2em;
}
/*
 0000000  000   000  000   000  000000000   0000000   000   000
000        000 000   0000  000     000     000   000   000 000
0000000     00000    000 0 000     000     000000000    00000
     000     000     000  0000     000     000   000   000 000
0000000      000     000   000     000     000   000  000   000
*/
.syntax {
  color: #666;
}
.browserRow.array {
  color: #aaa;
}
.browserRow .arrayIndex {
  color: #444;
  font-size: 12px;
}
.browserRow .arrayDot {
  color: #333;
}
.invisible {
  color: #181818;
}
.invisible.invisible-tab {
  color: #333;
}
.invisible.trailing {
  color: #d00;
}
.array {
  color: #00f;
}
.function {
  color: #fc0;
}
.function.call {
  color: #fa0;
}
.function.head,
.function.tail {
  opacity: 1;
  color: #55f;
  color: transparent;
}
.function.tail::before {
  border-color: #55f;
}
.function.head::before {
  border-left-color: #55f;
}
.function.tail.bound::before {
  border-color: #f80;
}
.function.head.bound::before {
  border-left-color: #f80;
}
.function.bracket {
  color: #55f;
}
.argument {
  color: #aaf;
}
.obj,
.dictionary,
.module,
.class {
  color: #ff8;
}
.range {
  color: #66f;
}
.marker,
.punctuation {
  opacity: 0.5;
}
.property {
  color: #fa8;
}
.elem,
.namespace {
  color: #48a;
}
.elem.member,
.namespace.member {
  color: #f80;
}
.member {
  color: #ccf;
}
.method {
  color: #ff0;
}
.method.class,
.method.call {
  color: #ff8;
}
.operator {
  color: #fa0;
}
.operator.negate {
  color: #ff0;
}
.keypath,
.semver,
.cssid,
.dir.win {
  color: #f80;
}
.keyword {
  color: #aaf;
}
.keyword.null {
  color: #a00;
}
.keyword.function {
  color: #666;
}
.type {
  color: #77f;
}
.template {
  color: #48a;
}
.define {
  color: #666;
}
.macro {
  color: #777;
}
.interpolation.marker {
  color: #f80;
}
.string {
  color: #0a0;
}
.string.double,
.string.triple {
  color: #0d0;
}
.string.backtick {
  color: #ccf;
}
.string.dictionary {
  color: #0a0;
}
.nil {
  color: #808;
}
.number,
.int {
  color: #88f;
}
.float {
  color: #f08;
}
.hex {
  color: #f88;
}
.regexp {
  color: #f4a;
}
.comment {
  color: #4f4f4f;
}
.require {
  color: #666;
}
.editor {
  background: #000;
  color: #fff;
}
.menuItem {
  color: #444;
  background-color: #111;
}
.menuItem.selected {
  color: textActiveColor;
}
.menu:focus .menuItem.selected {
  color: #fff;
}
.popup,
.menuItem,
.popupWindow {
  background-color: #111;
}
.popupWindow {
  background-color: #111;
}
.popupItem {
  color: #444;
}
.popupItem:not(:last-child) {
  border-bottom: 1px solid #111;
}
.popupItem.selected {
  color: #fff;
}
.popupItem.selected .popupCombo {
  color: #444;
}
.popupItem.separator {
  border-top: 1px solid #222;
}
.popupItem:not(:last-child) {
  border-bottom: 1px solid #111;
}
.popupCombo {
  color: #222;
}
.scroller.long {
  color: #191919;
}
.scroller.short {
  color: #9696ff;
}
.editor {
  color: #ddd;
  background: #000;
  border-color: #111;
}
*:focus .cursor {
  background: #f80;
}
*:focus .cursor.virtual {
  background: #008;
}
*:focus .cursor.main {
  background: #ff0;
}
*:focus .cursor.blink {
  background: #f80;
}
*:focus .cursor.blink.off {
  background: transparent;
}
.cursor {
  background: #444;
}
.cursor.main {
  background: #666;
}
.cursor.virtual {
  background: #111;
}
.cursor-line {
  background: #0a0a0a;
}
.numbers {
  background: rgba(0,0,0,0.5);
}
.linenumber span {
  color: #000;
}
.linenumber.highligd span {
  color: rgba(155,155,255,0.6);
}
.linenumber.selected span {
  color: #111;
}
.linenumber.highligd.selected:not(.cursored) span {
  color: #bbf;
}
.linenumber.cursored span {
  color: #f00;
}
.linenumber.cursored.selected span {
  color: #f80;
}
.linenumber.cursored.main span {
  color: #fd0;
}
.linenumber.cursored.main.selected span {
  color: #ff0;
}
.linenumber.input span {
  color: #222;
}
.linenumber.cmd span {
  color: #080;
}
.linenumber.succ span {
  color: #44a;
}
.linenumber.fail span {
  color: #f00;
}
.meta.pwd {
  background-color: #111;
}
.meta.href {
  background-color: #222;
}
.meta.cmd {
  background: #040;
}
.meta.succ {
  background: #228;
}
.meta.fail {
  background: #a00;
}
.minimap {
  background: #000;
  border-left-color: #111;
}
.topbot {
  background-color: #111;
}
.minimapTopBot {
  background-color: #111;
}
.highlight {
  color: rgba(255,0,255,0.5);
  background: rgba(100,100,255,0.3);
}
.bracketmatch {
  background: rgba(255,255,255,0.2);
}
.stringmatch {
  background: rgba(0,255,0,0.3);
}
*:focus .selection {
  background: #222;
}
.selection {
  color: #444;
  background: #111;
}
.autocomplete-span {
  background: #22a;
  color: #ff0;
}
.autocomplete-span.selected {
  color: #fff;
}
.autocomplete-list {
  background: #111;
  border-color: #0a0a0a;
}
.autocomplete-list::-webkit-scrollbar {
  background-color: #222;
}
.autocomplete-list::-webkit-scrollbar-thumb {
  background-color: #44f;
}
.autocomplete-item {
  color: #ccc;
}
.autocomplete-item.selected {
  color: #ff0;
}
.autocomplete-item.dir {
  background: #101060;
}
.autocomplete-item.dir.selected {
  background: #181868;
}
.autocomplete-item.file {
  background: #0a0a0a;
}
.autocomplete-item.file.selected {
  background: #111;
}
.autocomplete-item.cmd.selected {
  background: #222;
}
/*
 0000000  000   000  000   000  000000000   0000000   000   000
000        000 000   0000  000     000     000   000   000 000
0000000     00000    000 0 000     000     000000000    00000
     000     000     000  0000     000     000   000   000 000
0000000      000     000   000     000     000   000  000   000
*/
.syntax {
  color: #666;
}
.browserRow.array {
  color: #aaa;
}
.browserRow .arrayIndex {
  color: #444;
  font-size: 12px;
}
.browserRow .arrayDot {
  color: #333;
}
.invisible {
  color: #181818;
}
.invisible.invisible-tab {
  color: #333;
}
.invisible.trailing {
  color: #600;
}
.array {
  color: #00f;
}
.type {
  color: #77f;
}
.func,
.function {
  color: #fa0;
}
.func.post,
.function.post {
  color: #bbf;
}
.func.call,
.function.call {
  color: #f80;
}
.func.call.class,
.function.call.class {
  color: #fc0;
}
.func.marker,
.function.marker {
  opacity: 1;
  color: #55f;
}
.func.tail:before,
.function.tail:before,
.func.head:before,
.function.head:before {
  color: #55f;
}
.func.tail.bound:before,
.function.tail.bound:before,
.func.head.bound:before,
.function.head.bound:before {
  color: #f80;
}
.func.bracket,
.function.bracket {
  color: #55f;
}
.obj,
.owner,
.callee,
.dictionary,
.class.object,
.class {
  color: #ff8;
}
.range {
  color: #66f;
}
.require {
  color: #0f0;
}
.this {
  color: #bbf;
}
.marker,
.punct {
  opacity: 0.45;
}
.marker.dictionary,
.punct.dictionary {
  opacity: 0.3;
}
.escape {
  opacity: 0.2;
}
.module {
  color: #ff8;
}
.property {
  color: #fa8;
}
.elem,
.namespace {
  color: #48a;
}
.elem.member,
.namespace.member {
  color: #f80;
}
.member {
  color: #ccf;
}
.method {
  color: #ff0;
}
.method.class,
.method.call {
  color: #ff8;
}
.method.definition,
.method.template {
  color: #48a;
}
.template {
  color: #48a;
}
.operator {
  color: #fa0;
}
.operator.negate {
  color: #ff0;
}
.regexp {
  color: #f4a;
}
.keypath,
.semver,
.cssid {
  color: #f80;
}
.syntax.cond,
.keyword {
  color: #aaf;
}
.syntax.cond.null,
.keyword.null {
  color: #a00;
}
.syntax.cond.function,
.keyword.function {
  color: #666;
}
.struct {
  color: #f63;
}
.macro {
  color: #f0f;
}
.macro.call {
  color: #f0f;
}
.argument {
  color: #0aa;
}
.define {
  color: #666;
}
.interpolation.marker {
  color: #f80;
}
.variable.err {
  color: #f08;
}
.syntax.exists {
  opacity: 0.7;
}
.string {
  color: #0a0;
}
.string.double,
.string.triple {
  color: #0e0;
}
.string.backtick {
  color: #ccf;
}
.string.interpolation {
  opacity: 0.5;
}
.string.dictionary {
  color: #0a0;
}
.bool,
.true {
  color: #88f;
}
.nil {
  color: #f04;
}
.number,
.int {
  color: #88f;
}
.float {
  color: #f68;
}
.hex {
  color: #fa8;
}
.keyword.return,
.keyword.return.function.call {
  color: #c0c;
}
.comment,
.comment.text.keyword,
.comment.string.double {
  color: #4f4f4f !important;
}
.comment.header {
  color: #040 !important;
  background: #040;
  border-left-color: #060;
  border-bottom-color: #020;
}
.comment.header.minimap {
  color: #0a0 !important;
  opacity: 1;
}
.comment.triple.header {
  color: #060 !important;
  background: #060;
  border-left-color: #080;
  border-bottom-color: #040;
}
.comment.triple.header.minimap {
  color: #0f0 !important;
}
.header.marker.minimap {
  color: #222 !important;
}
.require {
  color: #666;
}
.require.variable {
  color: #0f0;
}
.test {
  color: #ccf;
}
.test-suite {
  color: #88f;
}
.test-fail {
  color: #ff0;
}
.test-error {
  color: #fa0;
}
.test-pass {
  color: #0a0;
}
.h1 {
  color: #ff0;
}
.h2 {
  color: #ff4;
}
.h3 {
  color: #ff8;
}
.h4 {
  color: #aaf;
}
.h5 {
  color: #88f;
}
.li1 {
  color: #0f0;
}
.li1.marker {
  color: transparent;
}
.li1.marker:before {
  color: #0f0;
}
.li2 {
  color: #0a0;
}
.li2.marker {
  color: transparent;
}
.li2.marker:before {
  color: #0a0;
}
.li3 {
  color: #080;
}
.li3.marker {
  color: transparent;
}
.li3.marker:before {
  color: #080;
}
.bold {
  color: #ff8;
  font-weight: bold;
}
.bold.marker {
  opacity: 0.3;
}
.code {
  color: #ccf;
}
.code.punct {
  opacity: 0.2;
}
.italic {
  font-style: italic;
}
.found {
  text-decoration: underline;
}
