doctype html
html(lang="en")
    head
        meta(charset='utf-8')
        link(rel='stylesheet' href='css/style.css' type='text/css')
        link(rel='stylesheet' href='css/dark.css'  type='text/css', id='style-link')
        link(rel='stylesheet' href='../node_modules/xterm/dist/xterm.css')
    body
        #titlebar
        #main(tabindex="0")
            #terminal
    script.
        require('./window.js')