
//  0000000  000000000  000   000  000    
// 000          000      000 000   000    
// 0000000      000       00000    000    
//      000     000        000     000    
// 0000000      000        000     0000000

frameWidth          = 6px
frameBorder         = frameWidth solid
logFontSize         = 15px
titlebarFontSize    = 15px
titlebarHeight      = 30px
scrollbarWidth      = 10px
scrollhandleWidth   = 8px
thinBorder          = 1px solid
titlebarFont        = Bahnschrift Light, Helvetica Neue, Ebrima, Varela Round, Helvetica, Arial

@font-face 
    font-family     fontMono
    font-weight     normal
    font-style      normal
    src             url("../../pug/MesloLGL.woff")

selectionRadius       = 0.3em
selectionRadiusCursor = 0.15em
metaRadius            = 0.15em

minimapWidth          = 130px
scrollbarWidth        = 12px // transparent scroll area
numbersWidth          = 36px
editorPadding         = 100px
thinBorder            = 1px solid

// 0000000     0000000   0000000    000   000
// 000   000  000   000  000   000   000 000 
// 0000000    000   000  000   000    00000  
// 000   000  000   000  000   000     000   
// 0000000     0000000   0000000       000   

fill-abs()
    position            absolute
    bottom              0
    right               0
    left                0
    top                 0

*
    outline-width       0
    
body
    font-family         fontMono
    font-size           15px
    fill-abs()
    margin              0
    overflow            hidden
    -webkit-user-select none

// 00     00   0000000   000  000   000  
// 000   000  000   000  000  0000  000  
// 000000000  000000000  000  000 0 000  
// 000 0 000  000   000  000  000  0000  
// 000   000  000   000  000  000   000  

#main
    overflow            hidden
    position            absolute
    top                 titlebarHeight
    left                0
    right               0
    bottom              0

.term
    position            absolute 
    overflow            hidden    
    border-left         frameBorder
    border-right        frameBorder
    border-bottom       frameBorder
    box-sizing          border-box
    width               100%
    height              100%
    
// 00000000  0000000    000  000000000   0000000   00000000   
// 000       000   000  000     000     000   000  000   000  
// 0000000   000   000  000     000     000   000  0000000    
// 000       000   000  000     000     000   000  000   000  
// 00000000  0000000    000     000      0000000   000   000  

.editor
    fill-abs()
    overflow            hidden
    font-family         fontMono
         
// 000000000   0000000   0000000     0000000
//    000     000   000  000   000  000
//    000     000000000  0000000    0000000
//    000     000   000  000   000       000
//    000     000   000  0000000    0000000

.tabs
    flex                10 1 0
    display             flex
    flex-direction      row
    overflow-x          auto
    overflow-y          hidden
    -webkit-app-region  no-drag

    &::-webkit-scrollbar
        height          2px

// 000000000   0000000   0000000
//    000     000   000  000   000
//    000     000000000  0000000
//    000     000   000  000   000
//    000     000   000  0000000

.tab
    flex                1 1 0
    position            relative
    border-top-left-radius  6px
    border-top-right-radius 6px
    font-size           titlebarFontSize
    padding-left        6px
    padding-right       12px
    padding-top         4px
    cursor              pointer
    
    box-sizing          border-box
    font-size           titlebarFontSize
    font-family         fontMono
    
    &:not(.active)
        opacity         0.5

.tabdrag
    height              titlebarHeight
    width               titlebarHeight
    position            absolute
    top                 0
    right               0
    
.tab .dot
    color               #444
    &.focus
        color           #060

.dot
    display             inline-block
    vertical-align      top
    padding-left        6px
    padding-right       9px
    margin-top          -1px
        
//  0000000   0000000  00000000    0000000   000      000      0000000     0000000   00000000
// 000       000       000   000  000   000  000      000      000   000  000   000  000   000
// 0000000   000       0000000    000   000  000      000      0000000    000000000  0000000
//      000  000       000   000  000   000  000      000      000   000  000   000  000   000
// 0000000    0000000  000   000   0000000   0000000  0000000  0000000    000   000  000   000

.scrollbar
    position            absolute
    top                 0
    cursor              ns-resize

    &.left
        bottom          0
        left            0
        width           scrollbarWidth
    &.right
        right           0
        width           10%
        height          100%

.scrollhandle
    position            absolute
    width               scrollhandleWidth
    top                 0
    &.left
        left            0
    &.right
        right           0
  
#cursor
    position                    absolute
    left                        0
    top                         0
        
// 000000000   0000000    0000000   000      000000000  000  00000000
//    000     000   000  000   000  000         000     000  000   000
//    000     000   000  000   000  000         000     000  00000000
//    000     000   000  000   000  000         000     000  000
//    000      0000000    0000000   0000000     000     000  000

.tooltip
    white-space                 nowrap
    padding                     3px
    padding-left                frameWidth
    padding-right               frameWidth
    border-bottom-left-radius   frameWidth
    border-bottom-right-radius  frameWidth
    font-family                 titlebarFont
    font-size                   14px
    opacity                     0
    transform                   scaleY(0)
    transition                  transform 0.2s ease-in, opacity 0.2s ease-in
                
// 000       0000000   000   000  00000000  00000000
// 000      000   000   000 000   000       000   000
// 000      000000000    00000    0000000   0000000
// 000      000   000     000     000       000   000
// 0000000  000   000     000     00000000  000   000

.layerScroll
    fill-abs()
    overflow-x          visible
    overflow-y          hidden
    &::-webkit-scrollbar
        height          2px

.layers
    position            relative
    height              10000000px

// 000      000  000   000  00000000   0000000
// 000      000  0000  000  000       000
// 000      000  000 0 000  0000000   0000000
// 000      000  000  0000  000            000
// 0000000  000  000   000  00000000  0000000

.lines
    cursor              text
    font-size           inherit
    pointer-events      none

.line
    line-height         1.26
    white-space         nowrap
    position            absolute
    & span
        position        absolute
        pointer-events  none

//  0000000  000   000  00000000    0000000   0000000   00000000
// 000       000   000  000   000  000       000   000  000   000
// 000       000   000  0000000    0000000   000   000  0000000
// 000       000   000  000   000       000  000   000  000   000
//  0000000   0000000   000   000  0000000    0000000   000   000

.cursor
    width                2px
    margin-right        -1px
    margin-left         -1px
    z-index             999999999
    position            absolute
    display             inline-block
    &.main:not(.off)
        width            4px
        margin-right    -2px
        margin-left     -2px
        border-radius    2px

.cursor-line
    position             absolute
    left                 0
    top                  0
        
// 000   000  000   000  00     00  0000000    00000000  00000000    0000000
// 0000  000  000   000  000   000  000   000  000       000   000  000
// 000 0 000  000   000  000000000  0000000    0000000   0000000    0000000
// 000  0000  000   000  000 0 000  000   000  000       000   000       000
// 000   000   0000000   000   000  0000000    00000000  000   000  0000000

.numbers
    position            absolute
    left                0
    top                 0
    bottom              0
    width               numbersWidth
    pointer-events      none
    font-size           13px
    font-family         fontMono

.linenumber
    width               numbersWidth
    position            absolute
    line-height         1.26

    & span
        display         inline-block
        width           (numbersWidth - 8px)
        text-align      right
        vertical-align  top

    &.main
        font-size       1.4em
        margin-top      -0.2em
        margin-bottom   0.2em
        
// 00     00  00000000  000000000   0000000
// 000   000  000          000     000   000
// 000000000  0000000      000     000000000
// 000 0 000  000          000     000   000
// 000   000  00000000     000     000   000

.meta
    position            absolute
    pointer-events      auto

    &.pwd
    &.cmd
        padding-right                metaRadius
        margin-right               - metaRadius
        margin-left                - editorPadding
        padding-left                 editorPadding
        border-top-right-radius      metaRadius
        border-bottom-right-radius   metaRadius

    &.gitInfoChange
        border-radius               metaRadius
        
    &.gitInfoFile
    &.pwd
    &.cmd
        cursor              pointer

    // &.pwd
    // &.spacer
        // background          transparent

    &.spacer
        border-top-right-radius    0
        border-bottom-right-radius 0

    &.git
        width               numbersWidth
        &.toggled
            opacity         1

// 00     00  000  000   000  000  00     00   0000000   00000000
// 000   000  000  0000  000  000  000   000  000   000  000   000
// 000000000  000  000 0 000  000  000000000  000000000  00000000
// 000 0 000  000  000  0000  000  000 0 000  000   000  000
// 000   000  000  000   000  000  000   000  000   000  000

.minimap
    position            absolute
    top                 0
    bottom              0
    right               0
    width               minimapWidth
    overflow            hidden
    cursor              pointer
    border-left         thinBorder
    pointer-events      auto

.minimap canvas
    pointer-events      none
    position            absolute
    top                 0
    right               0
    overflow            hidden

.topbot
    position            absolute
    right               0
    width               minimapWidth
    pointer-events      none

.minimapLines
    background-color    transparent
    opacity             0.8

.minimapHighlights
.minimapSelections
.minimapCursors
    background-color    transparent

// 000   000  000   0000000   000   000  000      000   0000000   000   000  000000000
// 000   000  000  000        000   000  000      000  000        000   000     000
// 000000000  000  000  0000  000000000  000      000  000  0000  000000000     000
// 000   000  000  000   000  000   000  000      000  000   000  000   000     000
// 000   000  000   0000000   000   000  0000000  000   0000000   000   000     000

.highlight
    position            absolute
    pointer-events      none

.bracketmatch
    position            absolute
    pointer-events      none
    text-decoration     underline

.stringmatch
    position            absolute
    pointer-events      none
    text-decoration     underline

//  0000000  00000000  000      00000000   0000000  000000000  000   0000000   000   000
// 000       000       000      000       000          000     000  000   000  0000  000
// 0000000   0000000   000      0000000   000          000     000  000   000  000 0 000
//      000  000       000      000       000          000     000  000   000  000  0000
// 0000000   00000000  0000000  00000000   0000000     000     000   0000000   000   000

.selection
    position            absolute
    pointer-events      none

    & .empty // used in selections of empty lines
        width            1px
        margin-right    -1px

.selection
.highlight
    padding-right       selectionRadiusCursor
    margin-right        - selectionRadiusCursor
    padding-left        selectionRadiusCursor
    margin-left         - selectionRadiusCursor
    &.start
        padding-left    editorPadding
        margin-left     - editorPadding

.comment.header
    border-radius       0.3em
    border-width        0.15em
    border-left-style   solid
    border-bottom-style solid
    border-top-style    hidden
    border-right-style  hidden
    height 1.2em

.stringmatch
.bracketmatch
.selection
.highlight
    &.tl
        border-top-left-radius selectionRadius
        &.start
            border-top-left-radius 0

    &.bl
        border-bottom-left-radius selectionRadius
        &.start
            border-bottom-left-radius 0

    &.tr
        border-top-right-radius selectionRadius
    &.br
        border-bottom-right-radius selectionRadius

.stringmatch
.bracketmatch
    padding-right       0
    margin-right        0
    padding-left        0
    margin-left         0

//  0000000   000   000  000000000   0000000    0000000   0000000   00     00  00000000   000      00000000  000000000  00000000
// 000   000  000   000     000     000   000  000       000   000  000   000  000   000  000      000          000     000
// 000000000  000   000     000     000   000  000       000   000  000000000  00000000   000      0000000      000     0000000
// 000   000  000   000     000     000   000  000       000   000  000 0 000  000        000      000          000     000
// 000   000   0000000      000      0000000    0000000   0000000   000   000  000        0000000  00000000     000     00000000

.autocomplete-span
    opacity             1
    white-space         pre

.autocomplete-list
    pointer-events      auto
    position            absolute
    max-height          200px
    width               auto
    overflow-x          hidden
    overflow-y          auto
    left                0
    &::-webkit-scrollbar
        width            4px
    &::-webkit-scrollbar-thumb
        width            2px

    &.above
        bottom          100%
    &.below
        top             100%    
        
.autocomplete-item
    pointer-events      auto
    white-space         nowrap
    width               100%
    display             block
    padding-left        5px
    padding-right       10px
    overflow            hidden
    cursor              pointer
    -webkit-user-select none

// 000000000  000  000000000  000      00000000  0000000     0000000   00000000 
//    000     000     000     000      000       000   000  000   000  000   000
//    000     000     000     000      0000000   0000000    000000000  0000000  
//    000     000     000     000      000       000   000  000   000  000   000
//    000     000     000     0000000  00000000  0000000    000   000  000   000

#titlebar
    display             flex
    flex-direction      row
    box-sizing          border-box
    height              titlebarHeight
    font-size           titlebarFontSize
    font-family         titlebarFont
    white-space         nowrap
    pointer-events      auto
    cursor              pointer

.titlebar-title
    flex                0
    display             inline-block
    flex-direction      row
    padding-top         7px
    padding-right       10px
    font                titlebarFont
    
.titlebar-dot
    display             inline-block
    vertical-align      top
    padding-left        9px
    padding-right       9px
    margin-top          -1px

#titlebar .winicon img
    padding-left        10px
    padding-top         3px
    width               22px
    height              22px
    
#titlebar .winbutton
    flex                0 0 45px
    display             inline-block
    text-align          center
    vertical-align      bottom
    font-size           18px
    padding-top         2px
    &.minimize
        padding-top     5px
        flex            0 0 46px

#titlebar .topframe
    height              2px
    position            absolute
    left                0
    top                 0
    right               135px
        
// 00     00  00000000  000   000  000   000  
// 000   000  000       0000  000  000   000  
// 000000000  0000000   000 0 000  000   000  
// 000 0 000  000       000  0000  000   000  
// 000   000  00000000  000   000   0000000   
            
.menu
    height              titlebarHeight
    pointer-events      auto
    flex                1 1 0
    display             flex
    flex-direction      row
    
.menuItem
    cursor              pointer
    padding-left        10px
    padding-right       10px
    padding-top         7px
    display             inline-block
    height              titlebarHeight
    overflow            visible
            
// 00000000    0000000   00000000   000   000  00000000
// 000   000  000   000  000   000  000   000  000   000
// 00000000   000   000  00000000   000   000  00000000
// 000        000   000  000        000   000  000
// 000         0000000   000         0000000   000

.popup
    z-index             9999
    position            absolute
    border-radius       3px
    font-size           titlebarFontSize
    font-family         titlebarFont
    
.popupItem
    padding             4px
    padding-left        2 * frameWidth
    padding-right       2 * frameWidth + 70px
    cursor              pointer
    &.separator
        padding         0
        cursor          default
        border          0
        height          0
        margin-top      2px
        margin-bottom   2px
    &:last-child
        padding-bottom  frameWidth
    &:first-child
        padding-top     frameWidth

.popupCombo
    position            absolute
    right               2 * frameWidth

.popupCombo
    pointer-events      none
    position            absolute
    right               2 * frameWidth
    