
//  0000000  000000000  000   000  000    
// 000          000      000 000   000    
// 0000000      000       00000    000    
//      000     000        000     000    
// 0000000      000        000     0000000

frameWidth          = 6px
logFontSize         = 15px
titlebarFontSize    = 15px
scrollbarWidth      = 10px
scrollhandleWidth   = 8px
minimapWidth        = 130px
thinBorder          = 1px solid
fontMono            = "Meslo LG S", "Liberation Mono", "Menlo", "Cousine", "Andale Mono", monospace
titlebarFont        = Bahnschrift Light, Helvetica Neue, Ebrima, Varela Round, Helvetica, Arial

// 0000000     0000000   0000000    000   000
// 000   000  000   000  000   000   000 000 
// 0000000    000   000  000   000    00000  
// 000   000  000   000  000   000     000   
// 0000000     0000000   0000000       000   

body
    font-family         fontMono
    font-size           15px
    
::selection
    background          #888
    
// 00     00   0000000   000  000   000  
// 000   000  000   000  000  0000  000  
// 000000000  000000000  000  000 0 000  
// 000 0 000  000   000  000  000  0000  
// 000   000  000   000  000  000   000  

#main
    display             flex
    flex-direction      row
    overflow            hidden

// 000000000  00000000  00000000   00     00  000  000   000   0000000   000      
//    000     000       000   000  000   000  000  0000  000  000   000  000      
//    000     0000000   0000000    000000000  000  000 0 000  000000000  000      
//    000     000       000   000  000 0 000  000  000  0000  000   000  000      
//    000     00000000  000   000  000   000  000  000   000  000   000  0000000  

.terminal .xterm-viewport
    overflow            hidden
    
// .terminal
    // border 1px solid green
    
// 00     00  000  000   000  000  00     00   0000000   00000000
// 000   000  000  0000  000  000  000   000  000   000  000   000
// 000000000  000  000 0 000  000  000000000  000000000  00000000
// 000 0 000  000  000  0000  000  000 0 000  000   000  000
// 000   000  000  000   000  000  000   000  000   000  000

.minimap
    display             flex
    flex                0 0 minimapWidth
    width               minimapWidth
    overflow            hidden
    cursor              pointer
    border-left         thinBorder
    pointer-events      auto
    // border              1px solid red

.minimap canvas
    pointer-events      none
    position            absolute
    top                 0
    right               0
    overflow            hidden

.topbot
    position            absolute
    right               0
    width               minimapWidth
    pointer-events      none

.minimapLines
    background-color    transparent
    opacity             0.8

.minimapHighlights
.minimapSelections
.minimapCursors
    background-color    transparent
    
//  0000000   0000000  00000000    0000000   000      000      0000000     0000000   00000000
// 000       000       000   000  000   000  000      000      000   000  000   000  000   000
// 0000000   000       0000000    000   000  000      000      0000000    000000000  0000000
//      000  000       000   000  000   000  000      000      000   000  000   000  000   000
// 0000000    0000000  000   000   0000000   0000000  0000000  0000000    000   000  000   000

.scrollbar
    position            absolute
    top                 0
    cursor              ns-resize

    &.left
        bottom          0
        left            0
        width           scrollbarWidth
    &.right
        right           0
        width           10%
        height          100%

.scrollhandle
    position            absolute
    width               scrollhandleWidth
    top                 0
    &.left
        left            0
    &.right
        right           0
  
// 000      000  000   000  00000000   0000000  
// 000      000  0000  000  000       000       
// 000      000  000 0 000  0000000   0000000   
// 000      000  000  0000  000            000  
// 0000000  000  000   000  00000000  0000000   

#terminal
    font-size               logFontSize
    -webkit-user-select     text
    flex                    1 1 0
    padding                 5px
    padding-left            scrollbarWidth
    display                 flex
    // overflow                hidden
    // padding-left            6px
    // position                relative
    // & div 
        // position            absolute
        // width               100%
        // white-space         nowrap
        // overflow            hidden
        // display             flex
        // flex-direction      row

// 000000000   0000000    0000000   000      000000000  000  00000000
//    000     000   000  000   000  000         000     000  000   000
//    000     000   000  000   000  000         000     000  00000000
//    000     000   000  000   000  000         000     000  000
//    000      0000000    0000000   0000000     000     000  000

.tooltip
    white-space                 nowrap
    padding                     3px
    padding-left                frameWidth
    padding-right               frameWidth
    border-bottom-left-radius   frameWidth
    border-bottom-right-radius  frameWidth
    font-family                 titlebarFont
    font-size                   14px
    opacity                     0
    transform                   scaleY(0)
    transition                  transform 0.2s ease-in, opacity 0.2s ease-in
                
    